/* --- General --- */

* {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
#root {
  margin: 5%;
}

img {
  width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  display: block;
  font-family: 'Work Sans', sans-serif;
}

h2 {
  font-size: 1.6em;
}

:root {
  --blue: rgb(37, 53, 105);
  --bluelight: rgb(133, 196, 205);
  --red: rgb(237, 92, 115);
  --grey: rgb(218, 226, 228);
}

#page-name {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin-top: -5%;
  margin-left: -5%;
  margin-right: -5%;
  padding: 5px;
}
#page-name span {
  padding: 2px;
  font-size: 1.2em;
  color: #000000;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}
#viewport-with-navbar {
  margin: 0 0 12vh 0;
}

/* --- Homepage --- */

#logo-div {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  /* border-bottom: 1px solid grey; */
  margin-top: -5%;
  margin-left: -5%;
  margin-right: -5%;
  /* padding: 5px; */
}

#logo-large {
  width: 150px;
  height: auto;
  margin: 0;
}

#home-banner-title h1 {
  margin-top: 0;
}

#home-banner-text {
  font-size: 0.9em;
  color: #2f3333;
}

#highlight-clubs-header {
  text-align: center;
  margin: 5px;
}

#club-search-input {
  width: 100%;
  margin: 15px 0;
}

#highlight-clubs-card {
  border: 1px;
  margin: 10px 0;
  background-color: white;
  box-shadow: 0 30px 40px 30px rgba(82, 93, 193, 0.15);
  text-align: center;
}

#highlight-clubs-card-img {
  width: 100%;
  max-height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ffffff;
}

#highlight-clubs-card-content > h3,
p,
a {
  background-color: #ffffff;
}

#home-book-btn-div {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 20px 0;
}

#home-book-btn {
  border-radius: 0.2em;
  background-color: rgb(37, 53, 105);
  color: #ffffff;
  text-align: center;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#home-club-text {
  font-size: 0.8em;
  color: #010101;
  text-align: center;
}

/* --- Loading --- */

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-505, -50%);
}

#loading-ball {
  position: absolute;
  width: 150px;
  height: 150px;
  background: #c9f364;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  animation: animate 1.5s linear infinite;
}

#loading-ball::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  background: transparent;
  border: 5px solid #fff;
  left: -65%;
  filter: blur(1px);
}

#loading-ball::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  background: transparent;
  border: 5px solid #fff;
  right: -65%;
  filter: blur(1px);
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) translateY(-200px) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) translateY(0px) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) translateY(-200px) rotate(360deg);
  }
}
#loading-ball-shadow {
  position: absolute;
  width: 150px;
  height: 50px;
  transform: translate(-50%, 100%);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  z-index: -1;
  filter: blur(2px);
  animation: shadow 1.5s linear infinite;
}

@keyframes shadow {
  0% {
    transform: translate(-50%, 100%) scale(1);
  }
  50% {
    transform: translate(-50%, 100%) scale(0.5);
  }
  100% {
    transform: translate(-50%, 100%) scale(1);
  }
}
/* --- Nav --- */

.nav-container {
  position: fixed;
  bottom: -10vh;
  -webkit-animation: slide-top 0.5s ease-in forwards;
  animation: slide-top 0.5s ease-in forwards;
  z-index: 2;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10vh);
    transform: translateY(-10vh);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10vh);
    transform: translateY(-10vh);
  }
}

nav {
  margin-left: -5%;
  width: 100vw;
  background: white;
  position: relative;
  box-shadow: 0 30px 40px 30px rgba(82, 93, 193, 0.15);
  border-radius: 30px 30px 0 0;
}

nav ul {
  flex-direction: row;
  padding-inline-start: 0;
  list-style: none;
  justify-content: space-around;
  height: 10vh;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 12px;
  padding-top: 5px;
}

nav ul li {
  margin: 0;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}

nav ul li a img {
  width: 4.5vh;
  margin: 0 auto 5px auto;
  display: block;
}

/* --- Login / Signup --- */

.log-sign-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: tomato; */
}

.log-sign-container form {
  display: flex;
  flex-direction: column;
}

.log-sign-container input {
  margin: 10px 0;
}

#signup-input {
  margin: 0;
}

.log-sign-container label {
  display: none;
}

.log-sign-container .alternative {
  font-size: 0.8em;
  margin-top: 10vh;
}

/* --- Forms / Inputs --- */

input:disabled {
  color: #000000;
  background-color: #ffffff;
  border-color: #dcdcdc;
}

input,
select {
  font-size: 0.9em;
  border-radius: 8px;
  border: solid 1px var(--blue);
  height: 6vh;
  padding: 10px;
  background: transparent;
  color: var(--blue);
}

input::placeholder,
select::placeholder {
  color: var(--blue);
  font-size: 0.9em;
}

/* --- Button --- */

.btn {
  width: 80vw;
  min-height: 55px;
  border-radius: 8px;
  /* box-shadow: 0 10px 20px -10px #6d7bfa; */
  font-size: 1.5em;
  margin: 10px auto;
  display: block;
  text-decoration: none;
  background-color: var(--blue);
  color: white;
  border-color: transparent;
}
#logout-btn-div {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 20px 0;
}
#logout-btn {
  border-radius: 0.5em;
  background-color: #b23b3b;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 15vh;
}
/* --- User Profile --- */

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container img {
  margin-top: 20px;
  width: 25vw;
  height: 25vw;
  background: white;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #6d7bfa;
}

/* --- Bookings --- */

#booking-card {
  border: 1px solid grey;
  text-align: center;
}

#moment-booking :first-child {
  color: #000000;
  font-size: 1.4em;
  font-weight: bold;
}

#booking-card-details p {
  color: #000000;
  font-size: 1em;
  padding-top: 3px;
}

/* --- Search --- */

#datePicker input {
  height: 40px;
}
